body {
    height: auto;
    width: auto;
    margin: 0 0;
    background-color: rgb(106, 106, 106);
    background-image: url('../imgs/teste4.png');
    background-repeat: no-repeat;
}

#game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
}